.navbar {
    margin-bottom: 0;
    z-index: 9999;
    border: 0;
    letter-spacing: 4px;
    border-radius: 0;
}

.Nav-logo {
  height: 100%;
}

.navbar-nav > li > a {
    padding-top: 0px;
    padding-bottom: 0px;
    width: 100%;
}
.navbar li{
  text-transform: uppercase;
  /*min-height: 110px;*/
  display: flex;
  align-items: center;
  font-family: "Shadows Into Light";
  font-weight: bold;
}

.navbar-collapse {
  padding-right: 5%;
}

.navbar-inverse {
  background-image: none;
  background-color: lightgreen;
  border-color: transparent;
}

.navbar-inverse .navbar-nav > li > a {
    color: forestgreen;
}

.navbar-nav > .active > a {
  background-image: none;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: lightgreen;
  background-color: forestgreen;
}


.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > li > a {
    text-shadow: none;
}

.navbar-inverse .navbar-toggle {
    border-color: forestgreen;
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: forestgreen;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: forestgreen;
}

.navbar-inverse .navbar-toggle:focus .icon-bar {
    background-color: lightgreen;
}

@media (min-width: 768px) {
  .navbar-header a {
    height: 100%;
  }

  .navbar-nav > li > a {
    line-height: 110px;
  }
}
